body {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
}

.view {
    border: 1px solid #9B9B9B;
    -webkit-border-radius:  3px;
    -moz-border-radius:     3px;
    border-radius:          3px;
    padding: 4px;
    margin: 2px;
}

.view-a {
    color: white;
    background: #1F6FE7;
}

.state-auth-true .signin,
.state-auth-false .signout,
.state-auth-false .view-auth {
    display: none;
}

.view-b {
    background: #4CB34C;
}

.view-auth {
    background: #DB6B6B;
}